h3{
    font-size: 25px !important;
}

.btn-success:hover{
background-color: rgb(91, 44, 138);
}

canvas{
    animation-name: ridhkau;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes ridhkau{
from{box-shadow : 1px 1px 38px rgb(95, 24, 161);}
to{box-shadow : 1px 1px 38px rgb(247, 144, 144);}
}

